<!doctype>
<html>

	<head>
	
	
	<meta name="viewport" content="width=device-width">
	<title>{% block title%}Index{% endblock %}</title>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'organizer/style.css' %}" />
	
	<style>
		
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="{% static 'organizer/main.js' %}"></script>
	

	</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- logo -->
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'organizer:index' %}">Organizer</a>
			</div>
			<!-- items -->
			
			<div class="collapse navbar-collapse" id="topNavBar">
			{% if loged_user %}
				<ul class="nav navbar-nav">
					<li class="">
						<a href="{% url 'organizer:index' %}">
							<span class="glyphicon glyphicon-briefcase" area-hidden="true"></span>&nbsp;
							My Trips
						</a>
					</li>
					{% if activate %}
						<li class=" my-alert">
							<a class="my-alert" href="{{activate}}">
								Click Here To Activate Your Account
							</a>
						</li>
					{% endif %}
					
				</ul>

				<ul class="nav navbar-nav navbar-right" >
					<li>
						{% include 'organizer/search.html' %}
					</li>
					<li class="">
						<a href=" {% url 'organizer:create_trip' %} ">
							<span class="glyphicon glyphicon-plus" area-hidden="true"></span>&nbsp;
							Add Trip
						</a>
					</li>
					
					<li class="">
						<a href=" {% url 'organizer:logout_user' %} ">
							<span class="glyphicon glyphicon-off" area-hidden="true"></span>&nbsp;
							Logout
						</a>
					</li>
				</ul>
			{% else %}
				<ul class="nav navbar-nav navbar-right" >
					<li>
						{% include 'organizer/search.html' %}
					</li>
					<li class="">
						<a href=" {% url 'organizer:login_user' %} ">
							
							Login
						</a>
					</li>
					<li class="">
						<a  href=" {% url 'organizer:register' %} ">
							
							Register
						</a>
					</li>
				</ul>
			{% endif %}
			<ul class="nav navbar-nav">
				<li >
					<a onclick="addTripsToURL(this)" href=" {% url 'organizer:compare' %} ">
						Compare
					</a>
				</li>
			</ul>
			</div>
		</div>
	</nav>
	
	{% block body%}
	{% endblock%}
	
</body>
</html>