{% extends 'organizer/base.html'%}

{% block title %}
	Index
{% endblock %}

{% block body %}
{% if all_trips %}


	
	<div class="col-sm-6 well">
	<h3>My Trips</h3>
	{% for trip in all_trips %}
	
	<div class="col-sm-12 col-md-6">
		<div class="thumbnail">
			
			<div class="caption">
				<h2>{{ trip.destination }}</h2>
				

				<!-- View Details -->
				<a href="{% url 'organizer:detail' trip.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

			   
				<!-- Favorite Album -->
				<a href="{% url 'organizer:share' trip.id %}" class="btn btn-default btn-sm btn-share" role="button">
					Share
				</a>

			</div>
		</div>
		{% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
	</div>
	
	
	
	{% endfor %}
	</div>
	
		<div class="col-sm-6 well">
	<h3>Shared Trips</h3>
	{% for trip in all_shared_trips %}
	
	<div class="col-sm-12 col-md-6">
		<div class="thumbnail">
			
			<div class="caption">
				<h2>{{ trip.destination }}</h2>
				

				<!-- View Details -->
				<a href="{% url 'organizer:detail' trip.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>


			</div>
		</div>
		{% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
	</div>
	
	
	
	{% endfor %}
	</div>
	
	
	
	
{% else %}
	<h3> You Dont Have Any Trips Yet</h3>
{% endif %}

{% endblock %}