{% load staticfiles %}
{% for trip in all_shared_trips %}
	<div class="col-xs-12 col-md-6">
		<div class="thumbnail trip">
			<input type="hidden" class="trip_id" value="{{ trip.id }}">		
			<div class="caption">
				
				<a href="{% url 'organizer:detail' trip.id %}">
					{% if trip.trip_picture %}
					<img src="{{ trip.trip_picture.url }}" class="img-responsive">
					{% else %}
					<img src="{% static 'organizer/image/ski.jpg' %}" class="img-responsive">
					{% endif %}
				</a>
				
				<h2>{{ trip.destination }}</h2>
				<h4>by {{ trip.user }}</h4>
				<!-- View Details -->
				
				<div class="row">
					<div class="col-xs-12">
						<a href="{% url 'organizer:detail' trip.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
					</div>
				</div>
				
			</div>
		</div>
		{% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
	</div>
{% endfor %}