{% extends 'organizer/base.html'%}


{% block title %}
	Trip Details
{% endblock %}


{% block body %}
	<div class="container-fluid">
		<div class="row">
			
				<div class="col-xs-12 well">
					Destination : {{ trip.destination }}
					Type : {{ trip.trip_type }}
				</div>
			
		</div>
		{% for node in nodes %}
		
		<div class="row">
			
			<div class="col-xs-12 well fitText">
				<div class="btn-toolbar pull-right">
					<form action="{% url 'organizer:node_delete' trip.id %}" method="post">
					{% csrf_token %}
						<input type="hidden" name="node_id" value="{{ node.id }}">
						<button type="submit" class="btn btn-danger  "/><span class="glyphicon glyphicon-remove"></span>
						</button>
					</form>
				</div>
				<div class="details col-xs-12 col-sm-10 ">
					<div class="col-xs-12 col-sm-2">
						<label class="col-xs-6 col-sm-12">Type</label><div class="col-xs-6 col-xs-12">{{ node.type }}</div>
					</div>
					
					<div class="col-xs-12 col-sm-2">
						<label class="col-xs-6 col-sm-12"> Price</label>  <div class="price col-xs-6 col-sm-12" >{{ node.price }}</div>
					</div>				
					
					
					<div class="col-xs-12 col-sm-2">
						<label class="col-xs-6 col-sm-12 "><span class="text-nowrap">Start Date</span></label> <div class="col-xs-6 col-sm-12 "><span class="text-nowrap">{{ node.startDate }}</span></div>
						
						
					</div>
					<div class="col-xs-12 col-sm-2">
						<label class="text-center col-xs-6 col-sm-12"><span class="text-nowrap">End Date</span></label> <div class="col-xs-6 col-sm-12 "><span class="text-nowrap">{{ node.endDate }}</span></div>
					</div>
					<div class="col-xs-12 col-sm-4">
					<p>
						<label class="col-xs-6 col-sm-12">Text</label>  <div class="col-xs-6 col-sm-12">{{ node.text }}</div>
					</p>
					</div>

					
				</div>
				{% if can_delete %}
				<form class="edit_form col-xs-12 col-sm-10 form-group" name="input" action="{% url 'organizer:node_edit' trip.id %}" method="post" style="display: none;">
					{% csrf_token %}
					<input type="hidden" name="node_id" value="{{ node.id }}">
					<div class="col-xs-12 col-sm-2">
						<label class="col-xs-6 col-sm-12">Type</label>
						<div class="col-xs-6 col-sm-12">
							<select class=" form-control" id="type_select" name="type" >
								{% for type in types %}
								<option value="{{ forloop.counter }}" {% if forloop.counter == node.type.pk %}selected {% endif %}>{{ type }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2">
						<label class="col-xs-6 col-sm-12">Start Date</label> 
						<div class="col-xs-6 col-sm-12">
							<input class="date  form-control" name="startDate" type="text" value="{{ trip.startDate|date:'m/d/Y' }}">
						</div>
					</div>
					<div class="col-xs-12 col-sm-2">
						<label class="date col-xs-6 col-sm-12">End Date</label>
						<div class="col-xs-6 col-sm-12">
							<input class="date form-control"  name="endDate" type="text" value="{{ trip.endDate|date:'m/d/Y' }}">
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-2">
						<label class="date col-xs-6 col-sm-12" for="text">Text</label>
						<div class="col-xs-6 col-sm-12">
							<input class="form-control " type="text" name="text" value="{{ node.text }}"/>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2">
						<label  class="date col-xs-6 col-sm-12" >Price</label>
						<div class="col-xs-6 col-sm-12">
							<input class="form-control" id="comment" type="text" name="price" value="{{ node.price }}"/>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2">
						<input type="submit" value="Submit" class="btn btn-primary"/>
					</div>
				</form>
				
				<div class="col-xs-12 col-sm-1 editContainer">
					<button type="button" id="editDate" class="edit btn btn-success">Edit</button>
					<input type="button" value="Cancel" id="cancelEditDate" class="cancel btn" style="display: none;"/>
				</div>
				
				
				{%endif%}
			</div>
		</div>
		
		{% endfor %}
		{% if can_delete %}
		 <div class="row">
			<div class="col-xs-12 well">
			 <form action="{% url 'organizer:add_node' trip.id %}" method="post" style="display: inline;">
					 {% csrf_token %}
					<input type="hidden" name="song_id" value="1" />
					<button  type="submit" class="btn btn-success btn-xs">
						<span class="glyphicon glyphicon-plus"></span>&nbsp; Add Item
					</button>
				</form>
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div id="total" class="well col-xs-12">
				Total Price :
				<div id="totalSum">
				</div>
			</div>
		</div>
		
		<div class="row">
		{% if can_delete %}
			<div class="col-xs-12">
			 <form action="{% url 'organizer:delete_trip' trip.id %}" method="post" style="display: inline;">
				{% csrf_token %}
				<input type="hidden" name="trip_id" value="{{ trip.id }}" />
				<button type="submit" class="btn btn-danger btn-xs">
					<span class="glyphicon glyphicon-remove"></span>&nbsp; Delete The Whole Trip
				</button>
			</form>
			</div>
			{% endif %}
		</div>
		
	</div>




{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
	
{% endif %}






<script>
$(function() {
	
	var sum = 0;
	/*
	 sum += +($(this).find('#hotelPrice').text());
	 sum += +($(this).find('#flightPrice').text()); 
	 sum += +($(this).find('#transportPrice').text());
	*/
	$(".price").each(function (index) {
		price = parseInt($(this).text());
		if (!(isNaN(price)) ){
			sum += price; 
		}
	});
	
	$("#totalSum").html(sum);
	$(".date").datepicker();
});

$('.edit').click(function(){
	$(this).parent().siblings('.edit_form').show();
	$(this).parent().siblings('.details').hide();
	$(this).siblings('.cancel').show();
	$(this).hide();
});

$('.cancel').click(function(){
	$(this).parent().siblings('.details').show();
	$(this).parent().siblings('.edit_form').hide();
	$(this).siblings('.edit').show();
	$(this).hide();
});


</script>

{% endblock %}

