{% extends 'organizer/base.html'%}


{% block title %}
	Trip Details
{% endblock %}


{% block body %}
	<div class="container">
		<div class="row">
			
				<div class="col-xs-12 well">
					Destination : {{ trip.destination }}
					Type : {{ trip.trip_type }}
				</div>
			
		</div>
		{% for node in nodes %}
		
		<div class="row">
			<div class="col-xs-12 well">
				<div class="details col-xs-12 col-sm-10">
					<div class="col-xs-12 col-sm-2">
						<label>type : </label><div class="col-xs-12">{{ node.type }}</div>
					</div>
					
					
					<div class="col-xs-12 col-sm-2">
						<label>start date :</label> <div class="col-xs-12">{{ node.startDate }}</div>
					</div>
					<div class="col-xs-12 col-sm-2">
						<label>end date :</label> <div class="col-xs-12">{{ node.endDate }}</div>
					</div>
					<div class="col-xs-12 col-sm-2">
					<p>
						<label>Text :</label>  <div class="col-xs-12">{{ node.text }}</div>
					</p>
					</div>
					<div class="col-xs-12 col-sm-2">
						<label class="col-xs-12"> price :</label>  <div class="price col-xs-12">{{ node.price }}</div>
					</div>
					
				</div>
				{% if can_delete %}
				<form class="edit_form col-xs-12 col-sm-10" name="input" action="{% url 'organizer:node_edit' trip.id %}" method="post" style="display: none;">
					{% csrf_token %}
					<input type="hidden" name="node_id" value="{{ node.id }}">
					<div class="col-xs-12 col-sm-2">
						<label >type:</label> 
						<select id="type_select" name="type" >
							{% for type in types %}
							<option value="{{ forloop.counter }}" {% if forloop.counter == node.type.pk %}selected {% endif %}>{{ type }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-xs-12 col-sm-2">
						<label>startDate :</label> <input class="date" name="startDate" type="text" value="{{ trip.startDate|date:'m/d/Y' }}">
					</div>
					<div class="col-xs-12 col-sm-2">
						<label >endDate :</label> 
						<input class="date"  name="endDate" type="text" value="{{ trip.endDate|date:'m/d/Y' }}">
					</div>
					
					<div class="col-xs-12 col-sm-2">
						<label for="text">Text :</label> 
						<input type="text" name="text" value="{{ node.text }}"/>
					</div>
					<div class="col-xs-12 col-sm-2">
						<label for="comment">price :</label> <input id="comment" type="text" name="price" value="{{ node.price }}"/>
					</div>
					<div class="col-xs-12 col-sm-2">
						<input type="submit" value="Submit" class="btn btn-primary"/>
					</div>
				</form>
				
				<div class="col-xs-12 col-sm-1 editContainer">
					<button type="button" id="editDate" class="edit btn btn-success">Edit</button>
					<input type="button" value="Cancel" id="cancelEditDate" class="cancel btn" style="display: none;"/>
				</div>
				<div class="col-xs-12 col-sm-1">
					<form action="{% url 'organizer:node_delete' trip.id %}" method="post">
					{% csrf_token %}
						<input type="hidden" name="node_id" value="{{ node.id }}">
						<button type="submit" class="btn btn-danger" /><span class="glyphicon glyphicon-remove"></span>
						</button>
					</form>
					
				</div>
				
				{%endif%}
			</div>
		</div>
		
		{% endfor %}
		{% if can_delete %}
		 <div class="row">
			<div class="col-xs-12 well">
			 <form action="{% url 'organizer:add_node' trip.id %}" method="post" style="display: inline;">
					 {% csrf_token %}
					<input type="hidden" name="song_id" value="1" />
					<button  type="submit" class="btn btn-success btn-xs">
						<span class="glyphicon glyphicon-plus"></span>&nbsp; Add Item
					</button>
				</form>
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div id="total" class="well col-xs-12">
				Total Price :
				<div id="totalSum">
				</div>
			</div>
		</div>
		
		<div class="row">
		{% if can_delete %}
			<div class="col-xs-12">
			 <form action="{% url 'organizer:delete_trip' trip.id %}" method="post" style="display: inline;">
				{% csrf_token %}
				<input type="hidden" name="trip_id" value="{{ trip.id }}" />
				<button type="submit" class="btn btn-danger btn-xs">
					<span class="glyphicon glyphicon-remove"></span>&nbsp; Delete The Whole Trip
				</button>
			</form>
			</div>
			{% endif %}
		</div>
		
	</div>




{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
	
{% endif %}






<script>
$(function() {
	
	var sum = 0;
	/*
	 sum += +($(this).find('#hotelPrice').text());
	 sum += +($(this).find('#flightPrice').text()); 
	 sum += +($(this).find('#transportPrice').text());
	*/
	$(".price").each(function (index) {
		price = parseInt($(this).text());
		if (!(isNaN(price)) ){
			sum += price; 
		}
	});
	
	$("#totalSum").html(sum);
	$(".date").datepicker();
});

$('.edit').click(function(){
	$(this).parent().siblings('.edit_form').show();
	$(this).parent().siblings('.details').hide();
	$(this).siblings('.cancel').show();
	$(this).hide();
});

$('.cancel').click(function(){
	$(this).parent().siblings('.details').show();
	$(this).parent().siblings('.edit_form').hide();
	$(this).siblings('.edit').show();
	$(this).hide();
});


</script>

{% endblock %}

